*, body {
	margin: 0;
	padding: 0;
	font-family: "Tahoma", "Trebuchet MS", "Arial", "Helvetica";
	font-size: 13px;
}

input[type=text], select {
	height: 25px;
}

.myform {
	background-color: #ccc;
}

.myclass {
	padding: 10px;
}

.myclass input {
	padding: 4px;
}

.myclass input[type=submit]:hover {
	cursor: pointer;	
}
